/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





/* ---------------------------ここから本文------------------------------------ */
@media print,screen and (min-width: 640px){
    body{
        width: 100vw;
        min-width:800px ;
        background-color: whitesmoke;
    }
    

header{
    box-sizing: border-box;
    height: 64px;
    width:100%;
    background-color: white;
    align-items: center;
    display: flex;
} 
    

.header_img{
    /* padding-top: 2px; */

    /* padding-bottom: 0px; */
    margin:2px;
}
.week{
    color:silver;
    margin-top: 10px;
    margin-left: 10px;
}
.button{
    color:white;
    border-radius: 30px;
    background:linear-gradient(-90deg,#0AD2FF,#0572C2);
    border:none;
    font-size: 0.9em;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    float:right;
    margin:10px 20px 10px auto;
    box-sizing: border-box;
}

/* モーダルCSSここから */
.modalArea {
    visibility: hidden; /* displayではなくvisibility */
    opacity : 0;
    position: fixed;
    z-index: 10; /* サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}
.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: white;
    height: auto;
    height:400px;
}  
.closeModal {
    /* position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer; */
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.is-show { /* モーダル表示用クラス */
    visibility: visible;
    opacity : 1;
}
.ModalContainer{
    padding:20px;
    display: flex;
}
.modal-left{
    width:50%;
    box-sizing: border-box;
}
.modal-right{
    width:50%;
    box-sizing: border-box;
}
  /* モーダルCSSここまで */

    /* margin: 0 0 0 auto; */
    /* margin-top: 0px;
    margin-bottom: 10px;
    margin-left: ;
     */
     /* position: absolute; */
main{
    /* background-color: whitesmoke; */
    width:100%;
    box-sizing: border-box;
    
}
.container{
    /* margin:64px; */
    display:flex;
    width: 100%;
    box-sizing: border-box;
    /* margin:20px 10px 40px 10px; */
    
}
.left{
    /* margin:20px; */
    width:50%;
    box-sizing: border-box;
    margin: 20px 20px 40px 50px;

}

.right{
    display:flex;
    /* /* min-width: 100%; */
    width:50%;
    box-sizing: border-box;
    margin:20px 50px  40px 0;
}

.boxes{
    display:flex;
    /* justify-content:center; */
    margin:  0 0 20px 0;
    box-sizing: border-box;
    width: 100%;
}
.box{
    
    background-color: white;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    width:100%;
    /* height:119px; */
    padding:0 20px 0 20px;
}
.box2{
    background-color: white;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    width:100%;
    /* height:119px; */
    padding:0 20px 0 20px;
    margin:0 20px 0 20px;
}
.period{
    color: dodgerblue;
    font-weight: bold;
    line-height: 60%;
    margin:15px 0 0 0;


}
.number{
    justify-content:center;
    font-weight: bold;
    font-size: large;
    line-height: 40px;
    
}
.hour{
    line-height: 20%;
    color: silver;
    font-size: large;
    line-height: 10px;
    margin:0 0 15px 0;
}
.pin_graf{
    /* margin-top:20px; */
    background-color: white;
    padding:10px;
    border-radius: 15px;
    box-sizing: border-box;
    width:100%;
  

}
.pin_graf_img{
    width:100%;
    box-sizing: border-box;
    width:100%;
}
.lang_study{
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    margin:0 20px 0 0;
    padding:10px;
}
.study_contents{
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    padding:10px;
}
.circle_graf_img{
    width:100%;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
}
/* .lang_content{
    display: inline;
} */
ul{
    padding:10px;
    
}
li{
    display: inline;
}
.a{
    display: flex;
}
footer{
    background-color: whitesmoke;
    /* margin: 0 auto; */
    justify-content:center;
    
}
.footer{
    justify-content:center;
    width:100%;
    box-sizing: border-box;

}
}

/* スマホ用 */
